.git
.gitignore
.cursor
.vscode
.idea
.DS_Store

**/bin
**/obj
**/TestResults
**/*.user
**/*.suo
**/*.rsuser
**/*.DotSettings.user

node_modules

.env
.env.*
!**/.env.example
!**/*.env.example

backups
postgres-data
caddy-data
caddy-config
dataprotection-keys
uploads
wwwroot/uploads

*.log
*.dump
*.backup
*.bak
